# Business Needs (Narrative)

- [x] The company wants users to be able to search Course Data by keywords and phrases from descriptions and other fields and return meaningful results.
- [x] The company wants users to be able to filter results based on relevant criteria such as course ratings or duration. 
- [x] The company has profiles for each of the course instructors for their own internal training and would like to have those returned in the search results even though they are not currently in the database. 
- [x] The company would like users to be able to facet information based on relevant fields such as source, skills, or role. 
- [x] The company wants users to be able to sort results by relevant fields.
- [x] The company wants to make available a curated set of open access journal articles in PDF form that are related to their big data work. These articles should be searchable by keywords and phrases, authors, and their associated institutions. 
- [x] he company wants users to be able to search using publication name, publisher, and publication date.
- [x] Users should be provided the DOI (Digital Object Identifier) URL for the file as part of the search result.

# System Capabilities (Requirements)

* Users should be able to search all text fields for keywords
* Users should be able to filter on course ratings, duration, title, type, source, level, technology, rating, instructor or role.
* Users should be able to filter and facet on source, skills, or role
* Users should be able to sort by relevant fields, such as title, type, technology, role
* Users should be able to search and filter by keywords and phrases, authors and institutions based on contents of a PDF as inferred from an AI enrichment of the Document Extraction
